/* Variables */
:root {
    --light-blue: #d4d0de;
    --dark-blue: #004e64;
    --white: #fcfcfc;
    --green: #25a18e;
}

/* HTML */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    background-color: var(--off-white);
    border-top: 12px solid var(--green);
}

p {
    color:var(--dark-blue);
    margin: 15px 0;
    text-align: center;
}

a {
    color: var(--green);
}

/* Layout */
.content-wrapper {
    width: 700px;
    margin: 50px auto;
}

/* Avatar */
.avatar {
    display: block;
    margin: 50px auto;
    border-radius: 128px;
}

/* Links */
ul.links {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

ul.links li {
    margin: 0 10px;
}

ul.links span {
    font-size: 0;
    line-height: 0;
}

/* Mobile */
@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    p {
        line-height: 150%;
    }

    .content-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .avatar {
        max-width: 100%;
        width: 128px;
    }
}
